* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: large;
    background-color: aliceblue;
    color: black;

}

.card > p {
    line-height: 200%;
}

body>div.nav-bar>div>ul {
    font-size: 17px;
}

.content {
    padding-top: 50px;
}

.content .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.box-container>.content-img {
    margin-right: 50px;
    margin-bottom: 50px;
}

.slo-graph>h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.content h2 {
    margin-bottom: 30px;
    font-size: 40px;
}

.content p {
    line-height: 1.5;
    font-size: 15px;
    text-align: justify;
}

.logo {
    color: white;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

body>div.boxes.solo>div {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
}

.nav-bar {
    background-color: #5D1700;
    padding: 20px;
}

.nav-bar>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

li.specials>a {
    color: orange;
    text-decoration: underline;
}

.nav-bar a:hover {
    color: grey;
}

body>div.nav-bar>div>ul>li.specials>a {
    color: orange;
}

.container ul {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}

.home img {
    width: 20px;
}

.menu img {
    width: 20px;
}

.specials img {
    width: 20px;
}

.nav-bar a {
    text-decoration: none;
    color: aliceblue;
}

.content {
    background-color: #F9E0BB;

}

.boxes {
    background-color: #BE8C63;
}

.boxes img {
    padding: 20px;
}

.boxes .container {
    padding: 30px;
    display: flex;

}

.boxes img {
    width: 200px;
    object-fit: cover;
}

.boxes .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 5px 2px black;
}

.card p {
    text-align: justify;
}

.card {
    background-color: #F9E0BB;
}

.solo .card:hover {
    background-color: rgb(230, 220, 220);
}

.card img:hover {
    animation: bounce 1.5s infinite;
}

#submit:hover {
    animation: shake 0.5s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(-10px);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(5px) rotate(5deg);
    }

    40% {
        transform: translateX(5px) rotate(5deg);
    }

    50% {
        transform: translateX(-5px) rotate(-5deg);
    }

    60% {
        transform: translateX(5px) rotate(5deg);
    }

    70% {
        transform: translateX(-5px) rotate(-5deg);
    }

    90% {
        transform: translateX(-5px) rotate(-5deg);
    }

    100% {
        transform: translateX(0) rotate(0);
    }
}

.best_seller {
    background-color: #BE8C63;
    text-align: center;
    padding: 10px;
    font-size: 1000;
    font-weight: 700;

}

footer {
    background-color: #F9E0BB;
    text-align: center;
}

#submit:active {
    background-color: rgb(218, 37, 37);
}

#submit {
    background-color: rgb(224, 24, 24);
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}

.solo {
    background-color: #F9E0BB;
}

.solo .card {
    background: #BE8C63;
}


@media (max-width: 660px) {
    body>div.nav-bar>div>div>h1 {
        font-size: 20px;
    }

    .container {
        width: 100%;
    }

    body>div.content>div>img {
        width: 200px;
    }

    body>div.content>div>div>h1 {
        font-size: 2rem;
    }

    body>div.boxes.solo>div {
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    li.home>a {
        content: url("home.png");
        width: 20px;
    }

    li.menu>a {
        content: url("menu.png");
        width: 20px;
    }

    li.specials>a {
        content: url("specials-hover.png");
        width: 20px;
    }

    .content-img {
        width: 100%;
    }

    .boxes .card {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .slo-graph>p {
        display: none;
    }

    .content {
        padding: 50px;
    }


}

@media (min-width: 660px) and (max-width: 1150px) {
    .container {
        width: 100%;
    }

    .content-img {
        width: 400px;
    }

    li.home>a {
        content: url("home.png");
        width: 20px;
    }

    li.menu>a {
        content: url("menu.png");
        width: 20px;
    }

    li.specials>a {
        content: url("specials-hover.png");
        width: 20px;
    }

    li.home>a>img {
        margin: 0;
    }

    body>div.boxes.solo>div {
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    }

    .boxes .container {
        gap: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .boxes .card {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .content {
        padding: 50px;
    }
}